<section class="row flex justify-content-center">
  <h2 class="text-center">Create a new user</h2>
  <form action="/users/add" class="col-6 g-3 needs-validation" method="POST">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="name" name="name" required />
      <label for="name">Name:</label>
    </div>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" name="email" required />
      <label for="email">Email address:</label>
    </div>

    <div class="form-floating mb-3">
      <input type="tel" class="form-control" id="tel" name="phone" required />
      <label for="tel">Phone:</label>
    </div>

    <div>
      <input type="submit" value="Create" class="btn btn-primary" />
    </div>
  </form>
</section>

