<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2><%= blog.title %></h2>
  <p><%= blog.text %></p>
  <button id="delete" data-blog-id="<%= blog._id %>">Delete this blog</button>

  <script>
    const deleteBtn = document.querySelector('#delete');
    deleteBtn.addEventListener('click', e => {
      e.preventDefault();
      console.log(deleteBtn.dataset.blogId);
      const endpoint = `/blogs/${deleteBtn.dataset.blogId}`;
      fetch(endpoint, { method: 'DELETE' })
        .then(res => res.json())
        .then(({ redirect }) => window.location.href = redirect)
        .catch(error => console.log(error));
    })
  </script>
</body>
</html>