<table class="table py-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-end">
        <a href="#" type="button" class="btn btn-dark"><i class="bi bi-eye"></i>&nbsp; View</a>
        <a href="#" type="button" class="btn btn-dark"><i class="bi bi-pencil"></i>&nbsp; Edit</a>
        <a href="#" type="button" class="btn btn-danger"><i class="bi bi-person-x"></i>&nbsp; Delete</a>
      </td>
    </tr>
  </tbody>
</table>